@page "/"

@using System.Globalization;

<PageTitle>Index</PageTitle>

<h1>Moien, Haut ass den @DateTime.Today.ToLongDateString() um @DateTime.Now.Date.ToLongTimeString()!</h1>

<h2>Current Culture: @CultureInfo.CurrentCulture</h2>